.text-titulo {
font-family: var(--fonte-titulo);
color: var(--preto-titulo);
font-size: 3rem;
}

.tocar {
color: var(--preto-paragrafo);
text-decoration: none;
font-size: 80%;
text-transform: uppercase;
display: inline;
padding: 0 .25rem;
}

.tocar:hover {
color: var(--preto-titulo);
border: 1px;
border-color: var(--preto-titulo);
font-size: 92%;
}
