.bg-footer {
    background-color: var(--azul-medio);
  }

.img-footer{
  height: 395px;
  width: 222px;
}

@media (max-width: 992px) {
  .titulo-dsp {
    display: none;
  }
}

@media (max-width: 992px) {
  .titulo-dsp-2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .img-dsp {
    display: none;
  }
}
