.bg-footer {
    background-color: var(--azul-medio);
  }

.img-footer{
  height: 395px;
  width: 222px;
}

.display-text {
  justify-content:space-evenly;
}

.display-line {
  padding-top: 1vw;
  padding-left: 2vw;
}

.linea-footer {
  font-size: .75rem;
  color: var(--cinza-claro);
  margin-bottom: .125rem;
}

@media (max-width: 992px) {
  .titulo-dsp {
    display: none;
  }
}

@media (max-width: 992px) {
  .titulo-dsp-2 {
    display: none;
  }
}

@media (min-width: 576px) {
  .img-dsp {
    display: none;
  }

  .display-text {
    justify-content:flex-start;
  }

  .display-line {
    font-size: 120%;
  }
}