.text-menu{
  font-family: var(--fonte-menu);
  color: var(--cinza-claro);
  text-transform: uppercase;
  font-size: calc(1.25rem + 0.3vw);
}

.text-titulo{
  font-family: var(--fonte-titulo);
  color: var(--preto-titulo);
  font-size: 3rem;
}
  
.bg-menu {
  background-color: var(--azul-medio);
}

.menu {
  text-decoration: none;
}
  
.menu:hover {
  text-decoration: underline;
  text-underline-offset: .375rem;
}

.img-banner {
  max-height: 5vw;
  width: auto;
}

@media (max-width: 768px) {
  .img-banner{
    display: none;
  }
  }