.img-geral {
    border-radius: 8.875vw;
  }

  .img-geral-pages {
    border-radius: 4.75vw;
  }

@media (max-width: 768px) {
    .img-geral {
    margin: 3vw 0;
    }
}

.img-add {
  display: none;

}


@media (max-width: 576px) {
  .img-add {
    display:inline-block;
  }
}