@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');


:root {
  --azul-forte: #2b55ad;
  --azul-medio: #1868ae;
  --cinza-claro: #d4dad6;
  --preto-paragrafo: #444444;
  --preto-titulo: #222222;
  --fonte-menu: 'Barlow Condensed';
  --fonte-titulo: 'Mulish';
  --fonte-geral:'Nunito Sans';
  --branco-geral: #efefef;
}

.fonte-paragrafo {
  font: var(--fonte-geral);
  font-weight: 400;
  color: var(--preto-paragrafo);
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

.fonte-paragrafo-branco {
  font: var(--fonte-geral);
  font-weight: 400;
  color: var(--branco-geral);
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

.fonte-listas {
  font: var(--fonte-geral);
  font-weight: 300;
  font-size: calc(18 / 16rem);
  color: var(--branco-geral)
}

.fonte-top-listas {
  font: var(--fonte-geral);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--cinza-claro)
}

.fonte-top-paragrafo {
  font: var(--fonte-geral);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--preto-titulo)
}

.fonte-titulo {
  font-family: var(--fonte-titulo);
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

.box {
  padding: 4.5rem 6.75rem;
  margin: 0;
}

@media (max-width: 768px) {
    .box {
    padding: 1em;
    }
}