---
import Page from '../components/Page.astro';
import Carrusel from '../components/Carrusel.astro';
const Titulo = "Cursos";
---

<Page pageTitle = {Titulo}>
    <div style="padding: 6vw;">
        <Carrusel/>
    </div>
</Page>