---
const pageTitle = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar bg-secondary " data-bs-theme="dark">
        <div class="container-fluid d-flex justify-content-end">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/about/">About</a>
          <a class="navbar-brand" href="/blog/">Blog</a>
        </div>
      </nav>
    </div>

    <div class="container-fluid">
      <h1 class="display-6 text-center pt-5">{pageTitle}</h1>
    </div>

    <div class="container-fluid">
      <div class="col-12 col-md-6">
        <img src="" alt="" />
      </div>
      <div class="col-12 col-md-6">
        <p class="lead">
          Sabuat Urbina Ribeiro é um palestrante inspirador e experiente,
          conhecido por seu compromisso em capacitar emigrantes a prosperar em
          seus novos ambientes e auxiliar aqueles que estão em transição de
          carreira a abraçar oportunidades desafiadoras com confiança. Com uma
          combinação única de experiência internacional e conhecimento em
          desenvolvimento pessoal, Sabuat traz uma abordagem cativante e prática
          para suas palestras e workshops.
        </p>
    </div>

    <div class="container-fluid text-bg-light">
        <figure class="text-center">
          <blockquote class="blockquote pt-5 pb-3">
            <p>
              Não espere por circunstâncias ideais para agir; use as
              circunstâncias que você já tem para agir
            </p>
          </blockquote>
          <figcaption class="blockquote-footer pb-5">
            Johann Wolfgang von Goethe
          </figcaption>
        </figure>
    </div>
    
  </body>
</html>
