---
import Page from "../components/Page.astro";
const Titulo = "Inicio";
---

<Page pageTitle={Titulo}>
    <div class="row">
        <div class="col">
            <h1>
                Educa
            </h1>
        </div>
        <div class="col">

        </div>
    </div>
</Page>