---
import '../styles/header.css'
const { vinc, ref } = Astro.props;
---

<li class="nav-link">
    <a  
    class="pe-3 pe-md-4 pe-xl-5 text-menu menu" 
    href={ref}
    >
    {vinc}
    </a>
</li>